.Menu{
    position: fixed;
    height: 80px;
    width: 100vw;
    background: rgba(30, 33, 40, 0.993);
    display: flex;
    justify-content: center;
}

.MenuNav{
    height: 100%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.MenuNavUsers{
    width: 100px;
    display: flex;
    justify-content: space-between;
}